<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802889434819-ofddoc78e13hgg01fth75gqi831b17v1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802889434819-ofddoc78e13hgg01fth75gqi831b17v1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>802889434819-2s9786kslvctsuukj0qggh029dgp97pk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSg0mLCg6iVZDrw9h-wUTg7b_4tVrKExU</string>
	<key>GCM_SENDER_ID</key>
	<string>802889434819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterplaza.Finflow.dev</string>
	<key>PROJECT_ID</key>
	<string>finflow-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>finflow-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802889434819:ios:300c11c220a57e2d7ec476</string>
</dict>
</plist>